[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dev = "python main.py"
service = "python service/app.py"
ui = "python tkinter_ui/tkinter_ui.py"
docker_run = "docker run -v ./config:/iptv-api/config -v ./output:/iptv-api/output -d -p 8000:8000 guovern/iptv-api"
tkinter_build = "pyinstaller tkinter_ui/tkinter_ui.spec"
docker_build = "docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7 -t guovern/iptv-api ."

[dev-packages]
pyinstaller = "==6.12.0"
selenium = "==4.29.0"

[packages]
requests = "==2.32.3"
bs4 = "==0.0.2"
tqdm = "==4.67.1"
async-timeout = "==5.0.1"
aiohttp = "==3.11.13"
flask = "==3.1.0"
opencc-python-reimplemented = "==0.1.7"
gunicorn = "==23.0.0"
pillow = "==11.1.0"
m3u8 = "==6.0.0"
pytz = "==2025.1"
pystray = "==0.19.5"
ipip-ipdb = "==1.6.1"

[requires]
python_version = "3.13"
